etc/gen_license
[
   {
      "id":"7998cc5a.3f1a14",
      "type":"tab",
      "label":"플로우 1",
      "disabled":false,
      "info":""
   },
   {
      "id":"6bc286da.8ad188",
      "type":"ui_dropdown",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"고객사",
      "tooltip":"",
      "place":"고객사 선택",
      "group":"9ecf2da1.e1e57",
      "order":1,
      "width":"7",
      "height":"1",
      "passthru":false,
      "options":[
         {
            "label":"",
            "value":"",
            "type":"str"
         }
      ],
      "payload":"",
      "topic":"",
      "x":524.3570899963379,
      "y":1430.285680770874,
      "wires":[
         [
            "3813e506.70bcba"
         ]
      ]
   },
   {
      "id":"9176b2a3.5cc7c",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"제품명",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":8,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"product_name",
      "x":730.607177734375,
      "y":278.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"271c71a7.85fdee",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"버전",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":9,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"product_version",
      "x":727.107177734375,
      "y":326.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"ac7a0a34.74aa08",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"고객사 코드",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":10,
      "width":0,
      "height":0,
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"customer_name",
      "x":748.107177734375,
      "y":371.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"1235cbe0.6ac654",
      "type":"ui_date_picker",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Start",
      "group":"9ecf2da1.e1e57",
      "order":11,
      "width":"0",
      "height":"0",
      "passthru":true,
      "topic":"start_date",
      "x":728.607177734375,
      "y":422.8572998046875,
      "wires":[
         [
            "cdecb64b.e2b3b8"
         ]
      ]
   },
   {
      "id":"90dfcfd7.01a71",
      "type":"ui_date_picker",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"End",
      "group":"9ecf2da1.e1e57",
      "order":12,
      "width":"7",
      "height":"1",
      "passthru":true,
      "topic":"end_date",
      "x":727.107177734375,
      "y":471.8572998046875,
      "wires":[
         [
            "dd7ff960.a4b558"
         ]
      ]
   },
   {
      "id":"107e384d.59df28",
      "type":"ui_switch",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"",
      "tooltip":"영구라이센스",
      "group":"9ecf2da1.e1e57",
      "order":13,
      "width":"1",
      "height":"1",
      "passthru":true,
      "decouple":"false",
      "topic":"end_date_permanent",
      "style":"",
      "onvalue":"true",
      "onvalueType":"bool",
      "onicon":"",
      "oncolor":"",
      "offvalue":"false",
      "offvalueType":"bool",
      "officon":"",
      "offcolor":"",
      "x":727.607177734375,
      "y":514.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"e1e608d0.f0f638",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"9ecf2da1.e1e57",
      "order":40,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"생성",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"payload",
      "payloadType":"flow",
      "topic":"",
      "x":1952.0714302062988,
      "y":272.2857666015625,
      "wires":[
         [
            "6f1c7941.e2ed08"
         ]
      ]
   },
   {
      "id":"afa45c84.4032d",
      "type":"join",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "mode":"custom",
      "build":"object",
      "property":"payload",
      "propertyType":"msg",
      "key":"topic",
      "joiner":"\\n",
      "joinerType":"str",
      "accumulate":true,
      "timeout":"",
      "count":"34",
      "reduceRight":false,
      "reduceExp":"",
      "reduceInit":"",
      "reduceInitType":"num",
      "reduceFixup":"",
      "x":1284.9285163879395,
      "y":277.14284324645996,
      "wires":[
         [
            "7e0aef41.3c30b",
            "b62e2088.19bf3"
         ]
      ]
   },
   {
      "id":"d2ee460a.91e628",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"고객사",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":4,
      "width":"7",
      "height":"1",
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"customer",
      "x":728.107177734375,
      "y":228.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"d94e3fd6.e3d51",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"9ecf2da1.e1e57",
      "order":5,
      "width":"1",
      "height":"1",
      "passthru":false,
      "label":"",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"settings_backup_restore",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":234.9285774230957,
      "y":1078.7143020629883,
      "wires":[
         [
            "8e086cb3.fe61b",
            "ce28f371.bdaeb",
            "286c6a11.868566",
            "528498f2.c6ab78",
            "e73787e7.7b8e58",
            "56cc9e7b.7be49",
            "2a688aca.04f6d6",
            "daf1a9f7.4971a8",
            "111cade7.8bcde2",
            "82570df9.479bf"
         ]
      ]
   },
   {
      "id":"9d8312e7.378a6",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"",
      "input":"timestamp",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"add",
      "format":"",
      "locale":"en_US",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":468.50001525878906,
      "y":314.4285707473755,
      "wires":[
         [
            "1235cbe0.6ac654",
            "90dfcfd7.01a71"
         ]
      ]
   },
   {
      "id":"8e086cb3.fe61b",
      "type":"timestamp",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "x":253.5,
      "y":313,
      "wires":[
         [
            "9d8312e7.378a6"
         ]
      ]
   },
   {
      "id":"ce28f371.bdaeb",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = False\nreturn msg",
      "outputs":1,
      "x":232.28570556640625,
      "y":376.4285430908203,
      "wires":[
         [
            "107e384d.59df28"
         ]
      ]
   },
   {
      "id":"286c6a11.868566",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = ''\nreturn msg",
      "outputs":1,
      "x":226,
      "y":125,
      "wires":[
         [
            "9176b2a3.5cc7c",
            "271c71a7.85fdee",
            "d2ee460a.91e628",
            "ac7a0a34.74aa08",
            "b83e54ea.e4ff88",
            "c56704f0.296cf8"
         ]
      ]
   },
   {
      "id":"528498f2.c6ab78",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 1\nreturn msg",
      "outputs":1,
      "x":236.99998474121094,
      "y":452.1427927017212,
      "wires":[
         [
            "de5523bd.190cf",
            "f838acb6.89106",
            "78b89cbe.3148d4",
            "1fe7e97e.3dbc27",
            "65e76d22.489eb4",
            "9b34da05.d5d498",
            "8765714.9dd139",
            "a5f7cfe8.c0a26",
            "e87628a1.09eb18",
            "f0e87283.ec751",
            "e3b72c84.4827a",
            "1e489fd8.88c1e",
            "63fa54b7.cd823c",
            "e49f1817.2fd708",
            "95e9b558.f46c88",
            "6f154076.964a",
            "1cacd8c4.baf497",
            "a55a0390.b8198",
            "cc374eeb.b75b8",
            "8dfd7541.03e738",
            "a940fa84.843ad8",
            "79aaf3b1.7801bc",
            "6eb6c2f5.1660dc"
         ]
      ]
   },
   {
      "id":"de5523bd.190cf",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"서버",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":14,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":"300",
      "topic":"resource/server.Server",
      "x":730.107177734375,
      "y":566.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"f838acb6.89106",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"네트워크",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":15,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/network.NMSNode",
      "x":728.107177734375,
      "y":614.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"78b89cbe.3148d4",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"ICMP",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":16,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/icmp.ICMPNode",
      "x":731.107177734375,
      "y":663.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"1fe7e97e.3dbc27",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Oracle",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":21,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/oracle.Oracle",
      "x":731.107177734375,
      "y":707.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"65e76d22.489eb4",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Tibero",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":22,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/tibero.Tibero",
      "x":730.107177734375,
      "y":750.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"9b34da05.d5d498",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"MSSQL",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":23,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/mssql.MSSQL",
      "x":739.107177734375,
      "y":792.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"8765714.9dd139",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"MySQL",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":24,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/mysql.MySQL",
      "x":737.107177734375,
      "y":835.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"a5f7cfe8.c0a26",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"MariaDB",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":25,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/mariadb.MariaDB",
      "x":736.107177734375,
      "y":880.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"9f90a79.3686b58",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 0\nreturn msg",
      "outputs":1,
      "x":244.85714721679688,
      "y":691.428466796875,
      "wires":[
         [
            "de5523bd.190cf",
            "f838acb6.89106",
            "78b89cbe.3148d4",
            "1fe7e97e.3dbc27",
            "65e76d22.489eb4",
            "9b34da05.d5d498",
            "8765714.9dd139",
            "a5f7cfe8.c0a26",
            "e87628a1.09eb18",
            "f0e87283.ec751",
            "e3b72c84.4827a",
            "e49f1817.2fd708",
            "95e9b558.f46c88",
            "6f154076.964a",
            "1cacd8c4.baf497",
            "a55a0390.b8198",
            "cc374eeb.b75b8",
            "8dfd7541.03e738",
            "a940fa84.843ad8",
            "79aaf3b1.7801bc",
            "6eb6c2f5.1660dc"
         ]
      ]
   },
   {
      "id":"e73787e7.7b8e58",
      "type":"delay",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "pauseType":"delay",
      "timeout":"100",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":129.5,
      "y":618,
      "wires":[
         [
            "9f90a79.3686b58"
         ]
      ]
   },
   {
      "id":"56cc9e7b.7be49",
      "type":"delay",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "pauseType":"delay",
      "timeout":"100",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":248,
      "y":214,
      "wires":[
         [
            "dce9f29a.cc631",
            "da219f35.c18b2"
         ]
      ]
   },
   {
      "id":"dce9f29a.cc631",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 'POLESTAR'\nreturn msg",
      "outputs":1,
      "x":403,
      "y":216,
      "wires":[
         [
            "9176b2a3.5cc7c"
         ]
      ]
   },
   {
      "id":"da219f35.c18b2",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = '7.6'\nreturn msg",
      "outputs":1,
      "x":410,
      "y":267,
      "wires":[
         [
            "271c71a7.85fdee"
         ]
      ]
   },
   {
      "id":"e87628a1.09eb18",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Sybase",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":26,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/sybase.Sybase",
      "x":733.107177734375,
      "y":926.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"f0e87283.ec751",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"DB2",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":27,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/db2.DB2",
      "x":729.107177734375,
      "y":969.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"e3b72c84.4827a",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Hana",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":28,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/saphana.Hana",
      "x":730.107177734375,
      "y":1013.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"1e489fd8.88c1e",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Trap",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":19,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/trap.Trap",
      "x":732.107177734375,
      "y":1057.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"63fa54b7.cd823c",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"Syslog",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":18,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/sylog.Syslog",
      "x":731.107177734375,
      "y":1103.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"e49f1817.2fd708",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"FlowReceiver",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":29,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/flow.FlowReceiver",
      "x":759.107177734375,
      "y":1152.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"4c7e0916.ad2a38",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = -1\nreturn msg",
      "outputs":1,
      "x":154.3571319580078,
      "y":931.1428623199463,
      "wires":[
         [
            "1e489fd8.88c1e",
            "63fa54b7.cd823c"
         ]
      ]
   },
   {
      "id":"2a688aca.04f6d6",
      "type":"delay",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "pauseType":"delay",
      "timeout":"100",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":120,
      "y":765,
      "wires":[
         [
            "4c7e0916.ad2a38"
         ]
      ]
   },
   {
      "id":"95e9b558.f46c88",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"WebURLMonitor",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":20,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/weburl.WebURLMonitor",
      "x":759.107177734375,
      "y":1200.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"6f154076.964a",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"WASSystem",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":17,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/was.WASSystem",
      "x":742.107177734375,
      "y":1244.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"1cacd8c4.baf497",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"SAP",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":30,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/sap.System",
      "x":738.107177734375,
      "y":1293.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"a55a0390.b8198",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"VCenter",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":31,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/vmware.VCenter",
      "x":739.107177734375,
      "y":1339.8572998046875,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"cc374eeb.b75b8",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"XCenter",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":32,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/hyperv.XCenter",
      "x":735.3928985595703,
      "y":1388.7145404815674,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"8dfd7541.03e738",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"rhev.Manager",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":33,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/rhev.Manager",
      "x":761.8214492797852,
      "y":1469.4286651611328,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"a940fa84.843ad8",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"AWS",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":34,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/aws.AWS",
      "x":732.9644775390625,
      "y":1432.0000295639038,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"cdecb64b.e2b3b8",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"start_date",
      "input":"payload",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"subtract",
      "format":"YYYY/MM/DD",
      "locale":"en_US",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":937.1428527832031,
      "y":325.7142758369446,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"dd7ff960.a4b558",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"end_date",
      "input":"payload",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"subtract",
      "format":"YYYY/MM/DD",
      "locale":"en_US",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":931.4285888671875,
      "y":377.1428527832031,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"7e0aef41.3c30b",
      "type":"switch",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "property":"payload.end_date_permanent",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":1519.2855834960938,
      "y":271.42856216430664,
      "wires":[
         [
            "4fe04892.ee8c18"
         ],
         [
            "7a9c425.ad62dbc"
         ]
      ]
   },
   {
      "id":"4fe04892.ee8c18",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"영구라이센스",
      "rules":[
         {
            "t":"set",
            "p":"payload.end_date",
            "pt":"msg",
            "to":"-1",
            "tot":"num"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1646.4287033081055,
      "y":160,
      "wires":[
         [
            "7a9c425.ad62dbc"
         ]
      ]
   },
   {
      "id":"7a9c425.ad62dbc",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"flow",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1763.5714530944824,
      "y":274.28571033477783,
      "wires":[
         [
            "e1e608d0.f0f638"
         ]
      ]
   },
   {
      "id":"6f1c7941.e2ed08",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload",
            "tot":"flow"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1581.2142715454102,
      "y":368.5714168548584,
      "wires":[
         [
            "a603ec7b.51aed",
            "b62e2088.19bf3"
         ]
      ]
   },
   {
      "id":"9ff19bd7.7e2608",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"ori_lists = msg['payload']\ndel ori_lists['customer']\ndel ori_lists['end_date_permanent']\ndel ori_lists['request_user']\ndel ori_lists['deploy_user']\nlists= [{\"resource/server.*\":-1},\n{\"resource/network.*\":-1},\n{\"resource/oracle.*\":-1},\n{\"resource/tibero.*\":-1},\n{\"resource/mssql.*\":-1},\n{\"resource/mysql.*\":-1},\n{\"resource/mariadb.*\":-1},\n{\"resource/sybase.*\":-1},\n{\"resource/db2.*\":-1},\n{\"resource/flow.*\":-1},\n{\"resource/flow.pluribus\":0},\n{\"resource/was.*\":-1},\n{\"resource/vmware.*\":-1},\n{\"resource/aws.*\":-1},\n{\"resource/management.*\":-1},\n{\"resource/polestar.*\":-1}]\nfor i in lists:\n    ori_lists.update(i)\nmsg['payload']= ori_lists\nreturn msg",
      "outputs":1,
      "x":2438,
      "y":392,
      "wires":[
         [
            "dfe081cc.167d5"
         ]
      ]
   },
   {
      "id":"a603ec7b.51aed",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"if len(msg['payload']) == 34:\n    msg['topic'] = 1\n    result = msg['payload']\nelse:\n    msg['topic'] = 0\n    result = ''\nmsg['payload'] = result\nreturn msg",
      "outputs":1,
      "x":1780.0000190734863,
      "y":366.2857246398926,
      "wires":[
         [
            "4a8a7367.87b4fc"
         ]
      ]
   },
   {
      "id":"4a8a7367.87b4fc",
      "type":"switch",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"1",
            "vt":"num"
         },
         {
            "t":"eq",
            "v":"0",
            "vt":"num"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":2153.5,
      "y":373,
      "wires":[
         [
            "9ff19bd7.7e2608",
            "fe8f3d1f.437d7",
            "abffc42f.12fe88"
         ],
         [
            "cf3268a5.839598"
         ]
      ]
   },
   {
      "id":"cf3268a5.839598",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"생성실패",
      "name":"",
      "x":2435,
      "y":719,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"23c18005.80379",
      "type":"elasticsearch-index",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "server":"c90432e7.8a64",
      "index":"ems_license",
      "esType":"license",
      "esId":"",
      "x":3021.5,
      "y":303,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"569b3a19.e53a84",
      "type":"elasticsearch-search",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "server":"c90432e7.8a64",
      "index":"ems_license",
      "esType":"license",
      "query":"",
      "scroll":true,
      "bulkSize":"",
      "x":130.64284133911133,
      "y":1439.8571062088013,
      "wires":[
         [
            "abbc5ade.6ca998",
            "63ecdc51.a0f894",
            "5128d717.e455a8"
         ]
      ]
   },
   {
      "id":"fe8f3d1f.437d7",
      "type":"timestamp",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "x":2343.9284591674805,
      "y":186.4285659790039,
      "wires":[
         [
            "8e10947c.c23978"
         ]
      ]
   },
   {
      "id":"d4eb6f8f.fd8f9",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"ori_lists = msg['payload']\ntime_now = msg['timestamp']\nori_lists.update({\"time_now\":time_now})\nif ori_lists['end_date'] == -1:\n    ori_lists.update({\"end_date\":\"9999/01/01\"})\nif ori_lists['start_date'] == 0:\n    ori_lists.update({\"start_date\":\"1900/01/01\"})\nmsg['payload']= ori_lists\nreturn msg",
      "outputs":1,
      "x":2852,
      "y":304,
      "wires":[
         [
            "23c18005.80379"
         ]
      ]
   },
   {
      "id":"abbc5ade.6ca998",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"customer_list = []\ncustomer_lists = []\nfor i in msg['payload']:\n    customer_list.append(i['customer'])\ncustomer_list = sorted(list(set(customer_list)))\nfor i in customer_list:\n    customer_lists.append({i:i})\nmsg['payload']= customer_lists\nreturn msg",
      "outputs":1,
      "x":242.03245544433594,
      "y":1334.6234526634216,
      "wires":[
         [
            "33d36a61.06af76",
            "5128d717.e455a8"
         ]
      ]
   },
   {
      "id":"33d36a61.06af76",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"options",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":389.7380828857422,
      "y":1465.380916595459,
      "wires":[
         [
            "6bc286da.8ad188"
         ]
      ]
   },
   {
      "id":"63ecdc51.a0f894",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"global.set('customerlist', msg.payload)",
      "outputs":1,
      "noerr":0,
      "x":270.18829345703125,
      "y":1544.3895921707153,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"3813e506.70bcba",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"var customerlists = []\nvar dropdown = msg.payload\nvar customerlist = global.get('customerlist')\ncustomerlist.forEach(function(element) {\n    if (dropdown == element.customer){\n        customerlists.push(element);\n    }\n});\nmsg.payload = customerlists\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":57.12334060668945,
      "y":1585.6234798431396,
      "wires":[
         [
            "438a5df1.35aa34",
            "88b84c6d.664f1",
            "6b8de566.d38adc"
         ]
      ]
   },
   {
      "id":"9784fece.a2919",
      "type":"ui_dropdown",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"라이센스 선택",
      "tooltip":"",
      "place":"라이센스 선택",
      "group":"9ecf2da1.e1e57",
      "order":3,
      "width":0,
      "height":0,
      "passthru":false,
      "options":[
         {
            "label":"",
            "value":"",
            "type":"str"
         }
      ],
      "payload":"",
      "topic":"",
      "x":458.4414978027344,
      "y":1729.7274169921875,
      "wires":[
         [
            "1dfa3f42.77f191"
         ]
      ]
   },
   {
      "id":"438a5df1.35aa34",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"license_list = []\nlicense_lists = []\nfor i in msg['payload']:\n    license_list.append(i['time_now'])\nfor i in sorted(license_list):\n    license_lists.append({i:i})\nmsg['payload']= license_lists\nreturn msg",
      "outputs":1,
      "x":229.3766326904297,
      "y":1676.5586528778076,
      "wires":[
         [
            "7c4ddc0a.661ac4"
         ]
      ]
   },
   {
      "id":"7c4ddc0a.661ac4",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"options",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":440.0389099121094,
      "y":1618.5584716796875,
      "wires":[
         [
            "9784fece.a2919"
         ]
      ]
   },
   {
      "id":"1dfa3f42.77f191",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"var dropdown = msg.payload\nvar customerlist = global.get('licenselist')\ncustomerlist.forEach(function(element) {\n    if (dropdown == element.time_now){\n        msg.payload = element;\n    }\n});\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":468.9999465942383,
      "y":1831.428524017334,
      "wires":[
         [
            "fb1f067e.2541a8",
            "514a23f7.9c381c",
            "1ffcb5ba.baca2a",
            "326d0e55.b37942",
            "5d64e0be.ffec",
            "4378a223.05ca7c",
            "430c05cd.dd284c",
            "74b4d8f0.225c88",
            "db44422e.78306",
            "f2e7bc0c.cb4ed",
            "6377400b.92e31",
            "1fa47e44.966f72",
            "569d8684.817808",
            "1850ded7.ecee51",
            "7022ebd6.687504",
            "a7a82e96.43224",
            "5033186f.43bcd8",
            "37eab84.d5ff348",
            "7664abe2.022d84",
            "8119c77f.fdece8",
            "460c7079.59f46",
            "451795a2.76134c",
            "212d17fe.c9b848",
            "83b4bc84.0bb1a",
            "86f481e8.69781",
            "640897ad.111278",
            "80cf6fcb.c5917",
            "9bfd32ed.1860e",
            "391da8f0.57f188",
            "7be049b2.852548",
            "ed1a316a.1fe4a",
            "93f97e9d.242b3",
            "ddaa9ee2.0b3b1"
         ]
      ]
   },
   {
      "id":"88b84c6d.664f1",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"global.set('licenselist', msg.payload)",
      "outputs":1,
      "noerr":0,
      "x":158.70125579833984,
      "y":1780.9481143951416,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"2bec0aad.99bd06",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"9ecf2da1.e1e57",
      "order":2,
      "width":"1",
      "height":"1",
      "passthru":false,
      "label":"",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"settings_backup_restore",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":236.4285774230957,
      "y":1168.571382522583,
      "wires":[
         [
            "569b3a19.e53a84"
         ]
      ]
   },
   {
      "id":"fb1f067e.2541a8",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.customer",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":859.2857246398926,
      "y":1694.2857027053833,
      "wires":[
         [
            "d2ee460a.91e628"
         ]
      ]
   },
   {
      "id":"514a23f7.9c381c",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.product_name",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":860,
      "y":1744.2857666015625,
      "wires":[
         [
            "9176b2a3.5cc7c"
         ]
      ]
   },
   {
      "id":"1ffcb5ba.baca2a",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.product_version",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":856,
      "y":1806,
      "wires":[
         [
            "271c71a7.85fdee"
         ]
      ]
   },
   {
      "id":"326d0e55.b37942",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.customer_name",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":852,
      "y":1864,
      "wires":[
         [
            "ac7a0a34.74aa08"
         ]
      ]
   },
   {
      "id":"5d64e0be.ffec",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.start_date",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":852,
      "y":1924,
      "wires":[
         [
            "6f4c09bf.638698"
         ]
      ]
   },
   {
      "id":"6f4c09bf.638698",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"",
      "input":"payload",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"add",
      "format":"",
      "locale":"ko_KR",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":1089,
      "y":1922,
      "wires":[
         [
            "1235cbe0.6ac654"
         ]
      ]
   },
   {
      "id":"4378a223.05ca7c",
      "type":"switch",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "property":"payload.end_date_permanent",
      "propertyType":"msg",
      "rules":[
         {
            "t":"true"
         },
         {
            "t":"false"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":831,
      "y":1986,
      "wires":[
         [
            "ac2ee122.5982f",
            "1f020a23.1b7da6"
         ],
         [
            "e6011187.7f0d3",
            "cc3a3d42.3844a"
         ]
      ]
   },
   {
      "id":"b1b99757.0b0558",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"",
      "input":"timestamp",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"add",
      "format":"",
      "locale":"en_US",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":1266,
      "y":1978,
      "wires":[
         [
            "90dfcfd7.01a71"
         ]
      ]
   },
   {
      "id":"ac2ee122.5982f",
      "type":"timestamp",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "x":1047,
      "y":1980.5714111328125,
      "wires":[
         [
            "b1b99757.0b0558"
         ]
      ]
   },
   {
      "id":"e6011187.7f0d3",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload.end_date",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1064,
      "y":2142,
      "wires":[
         [
            "b810e79f.ef07d8"
         ]
      ]
   },
   {
      "id":"b810e79f.ef07d8",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"",
      "input":"payload",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"add",
      "format":"",
      "locale":"ko_KR",
      "output":"payload",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":1292,
      "y":2146,
      "wires":[
         [
            "90dfcfd7.01a71"
         ]
      ]
   },
   {
      "id":"1f020a23.1b7da6",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = True\nreturn msg",
      "outputs":1,
      "x":1038,
      "y":2026,
      "wires":[
         [
            "107e384d.59df28"
         ]
      ]
   },
   {
      "id":"cc3a3d42.3844a",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = False\nreturn msg",
      "outputs":1,
      "x":1040,
      "y":2192,
      "wires":[
         [
            "107e384d.59df28"
         ]
      ]
   },
   {
      "id":"430c05cd.dd284c",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/server.Server']\nreturn msg",
      "outputs":1,
      "x":824,
      "y":2046,
      "wires":[
         [
            "de5523bd.190cf"
         ]
      ]
   },
   {
      "id":"74b4d8f0.225c88",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/network.NMSNode']\nreturn msg",
      "outputs":1,
      "x":826,
      "y":2092,
      "wires":[
         [
            "f838acb6.89106"
         ]
      ]
   },
   {
      "id":"db44422e.78306",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/icmp.ICMPNode']\nreturn msg",
      "outputs":1,
      "x":822,
      "y":2146,
      "wires":[
         [
            "78b89cbe.3148d4"
         ]
      ]
   },
   {
      "id":"f2e7bc0c.cb4ed",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/oracle.Oracle']\nreturn msg",
      "outputs":1,
      "x":826,
      "y":2198,
      "wires":[
         [
            "1fe7e97e.3dbc27"
         ]
      ]
   },
   {
      "id":"6377400b.92e31",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/tibero.Tibero']\nreturn msg",
      "outputs":1,
      "x":826,
      "y":2262,
      "wires":[
         [
            "65e76d22.489eb4"
         ]
      ]
   },
   {
      "id":"1fa47e44.966f72",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/mssql.MSSQL']\nreturn msg",
      "outputs":1,
      "x":828,
      "y":2316,
      "wires":[
         [
            "9b34da05.d5d498"
         ]
      ]
   },
   {
      "id":"569d8684.817808",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/mysql.MySQL']\nreturn msg",
      "outputs":1,
      "x":832,
      "y":2374,
      "wires":[
         [
            "8765714.9dd139"
         ]
      ]
   },
   {
      "id":"1850ded7.ecee51",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/mariadb.MariaDB']\nreturn msg",
      "outputs":1,
      "x":836,
      "y":2430,
      "wires":[
         [
            "a5f7cfe8.c0a26"
         ]
      ]
   },
   {
      "id":"7022ebd6.687504",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/sybase.Sybase']\nreturn msg",
      "outputs":1,
      "x":830,
      "y":2486,
      "wires":[
         [
            "e87628a1.09eb18"
         ]
      ]
   },
   {
      "id":"a7a82e96.43224",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/db2.DB2']\nreturn msg",
      "outputs":1,
      "x":832,
      "y":2548,
      "wires":[
         [
            "f0e87283.ec751"
         ]
      ]
   },
   {
      "id":"5033186f.43bcd8",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/saphana.Hana']\nreturn msg",
      "outputs":1,
      "x":834,
      "y":2604,
      "wires":[
         [
            "e3b72c84.4827a"
         ]
      ]
   },
   {
      "id":"37eab84.d5ff348",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/trap.Trap']\nreturn msg",
      "outputs":1,
      "x":828,
      "y":2666,
      "wires":[
         [
            "1e489fd8.88c1e"
         ]
      ]
   },
   {
      "id":"7664abe2.022d84",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/sylog.Syslog']\nreturn msg",
      "outputs":1,
      "x":836,
      "y":2722,
      "wires":[
         [
            "63fa54b7.cd823c"
         ]
      ]
   },
   {
      "id":"8119c77f.fdece8",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/flow.FlowReceiver']\nreturn msg",
      "outputs":1,
      "x":836,
      "y":2782,
      "wires":[
         [
            "e49f1817.2fd708"
         ]
      ]
   },
   {
      "id":"460c7079.59f46",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/weburl.WebURLMonitor']\nreturn msg",
      "outputs":1,
      "x":834,
      "y":2836,
      "wires":[
         [
            "95e9b558.f46c88"
         ]
      ]
   },
   {
      "id":"451795a2.76134c",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/sap.System']\nreturn msg",
      "outputs":1,
      "x":834,
      "y":2984,
      "wires":[
         [
            "1cacd8c4.baf497"
         ]
      ]
   },
   {
      "id":"212d17fe.c9b848",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/vmware.VCenter']\nreturn msg",
      "outputs":1,
      "x":832,
      "y":3042,
      "wires":[
         [
            "a55a0390.b8198"
         ]
      ]
   },
   {
      "id":"83b4bc84.0bb1a",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/hyperv.XCenter']\nreturn msg",
      "outputs":1,
      "x":832,
      "y":3096,
      "wires":[
         [
            "cc374eeb.b75b8"
         ]
      ]
   },
   {
      "id":"86f481e8.69781",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/was.WASSystem']\nreturn msg",
      "outputs":1,
      "x":836,
      "y":2900,
      "wires":[
         [
            "6f154076.964a"
         ]
      ]
   },
   {
      "id":"640897ad.111278",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/rhev.Manager']\nreturn msg",
      "outputs":1,
      "x":836,
      "y":3154,
      "wires":[
         [
            "8dfd7541.03e738"
         ]
      ]
   },
   {
      "id":"80cf6fcb.c5917",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/aws.AWS']\nreturn msg",
      "outputs":1,
      "x":832,
      "y":3212,
      "wires":[
         [
            "a940fa84.843ad8"
         ]
      ]
   },
   {
      "id":"daf1a9f7.4971a8",
      "type":"delay",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "pauseType":"delay",
      "timeout":"100",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":230,
      "y":68,
      "wires":[
         [
            "7bdbbdd7.ab16e4",
            "f1890a31.445b38",
            "9aaa0122.b573e"
         ]
      ]
   },
   {
      "id":"7bdbbdd7.ab16e4",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = '임시'\nreturn msg",
      "outputs":1,
      "x":390,
      "y":64,
      "wires":[
         [
            "d2ee460a.91e628"
         ]
      ]
   },
   {
      "id":"f1890a31.445b38",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 'imsi'\nreturn msg",
      "outputs":1,
      "x":388,
      "y":112,
      "wires":[
         [
            "ac7a0a34.74aa08"
         ]
      ]
   },
   {
      "id":"dfe081cc.167d5",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"test =[]\nfor key, value in msg['payload'].items():\n    test.append('{}={}'.format(key,value))\ntest = '\\n'.join(test)\nmsg['payload'] = test\nreturn msg",
      "outputs":1,
      "x":2598.5711059570312,
      "y":437.142840385437,
      "wires":[
         [
            "bca1ca78.f21ce8"
         ]
      ]
   },
   {
      "id":"bca1ca78.f21ce8",
      "type":"file",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "filename":"/home/ems_license/license_gen/licenseInfo.properties",
      "appendNewline":true,
      "createDir":true,
      "overwriteFile":"true",
      "encoding":"none",
      "x":2840.7142944335938,
      "y":517.1428565979004,
      "wires":[
         [
            "167e725a.868fbe"
         ]
      ]
   },
   {
      "id":"167e725a.868fbe",
      "type":"exec",
      "z":"7998cc5a.3f1a14",
      "command":"/home/ems_license/license_gen/bin/make_license.py",
      "addpay":false,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"",
      "x":2825.0000915527344,
      "y":702.1427745819092,
      "wires":[
         [
            "c4093973.bb34b8"
         ],
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"1f2ed21a.80887e",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"생성완료",
      "name":"",
      "x":3383.571533203125,
      "y":618,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"c4093973.bb34b8",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3182.1429748535156,
      "y":670.0000486373901,
      "wires":[
         [
            "1f2ed21a.80887e"
         ]
      ]
   },
   {
      "id":"b62e2088.19bf3",
      "type":"debug",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":1716.428524017334,
      "y":581.4285163879395,
      "wires":[

      ]
   },
   {
      "id":"2d7bb156.a3fece",
      "type":"ui_template",
      "z":"7998cc5a.3f1a14",
      "group":"fdac85d5.df68f8",
      "name":"",
      "order":2,
      "width":0,
      "height":0,
      "format":"<a href=\"http://192.168.200.96:1880/license.zip\" class=\"download\">Download</a>\n<style>\n.download {\n\tbackground:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000040), color-stop(1, #d5b39b));\n\tbackground:-moz-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-webkit-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-o-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-ms-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:linear-gradient(to bottom, #000040 5%, #000040 100%);\n\tfilter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5b39b', endColorstr='#d5b39b',GradientType=0);\n\tbackground-color:#000040;\n\t-moz-border-radius:3px;\n\t-webkit-border-radius:3px;\n\tborder-radius:3px;\n\tborder:1px solid #000040;\n\tdisplay:inline-block;\n\tcursor:pointer;\n\tcolor:#ffffff;\n\tfont-family:Arial;\n\tfont-size:13px;\n\tpadding:11px 10px;\n\ttext-decoration:none;\n\ttext-align: center;\n}\n.download:hover {\n\tbackground:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d5b39b), color-stop(1, #d5b39b));\n\tbackground:-moz-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-webkit-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-o-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:-ms-linear-gradient(top, #000040 5%, #000040 100%);\n\tbackground:linear-gradient(to bottom, #000040 5%, #000040 100%);\n\tfilter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000040', endColorstr='#000040',GradientType=0);\n\tbackground-color:#000040;\n}\n.download:active {\n\tposition:relative;\n\ttop:1px;\n}\n</style>",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "templateScope":"local",
      "x":3380.714370727539,
      "y":674.2857513427734,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"9a8fd269.f0483",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3812.142936706543,
      "y":807.14284324646,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"422d2b05.908304",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"fdac85d5.df68f8",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"확인",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":2501.71435546875,
      "y":849.857177734375,
      "wires":[
         [
            "2447a6f9.a0a77a"
         ]
      ]
   },
   {
      "id":"a76ef751.d1ef28",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"출력 완료",
      "name":"",
      "x":3422.8572578430176,
      "y":942.8571624755859,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"751adaf7.656894",
      "type":"ui_template",
      "z":"7998cc5a.3f1a14",
      "group":"fdac85d5.df68f8",
      "name":"",
      "order":5,
      "width":"8",
      "height":"14",
      "format":"<div style=\"white-space: pre-line;\" ng-bind-html=\"msg.payload\"></div>",
      "storeOutMessages":true,
      "fwdInMessages":true,
      "templateScope":"local",
      "x":3235.857666015625,
      "y":744.8572387695312,
      "wires":[
         [
            "49bb7b81.8d9f54"
         ]
      ]
   },
   {
      "id":"49bb7b81.8d9f54",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3447.4287109375,
      "y":809.7142944335938,
      "wires":[
         [
            "a76ef751.d1ef28"
         ]
      ]
   },
   {
      "id":"ab759bbd.fd9278",
      "type":"e-mail out",
      "z":"7998cc5a.3f1a14",
      "server":"mail.nkia.co.kr",
      "port":"25",
      "secure":false,
      "name":"",
      "dname":"",
      "x":3173.57137298584,
      "y":1141.428482055664,
      "wires":[
         [
            "a87dd4b2.1dbd48"
         ]
      ]
   },
   {
      "id":"c5be7926.81dc68",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"메일 전송",
      "tooltip":"",
      "group":"fdac85d5.df68f8",
      "order":3,
      "width":"7",
      "height":"1",
      "passthru":true,
      "mode":"email",
      "delay":300,
      "topic":"",
      "x":2505.000160217285,
      "y":967.142858505249,
      "wires":[
         [
            "1eeb5c0b.b83304"
         ]
      ]
   },
   {
      "id":"2766e3de.1718cc",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"fdac85d5.df68f8",
      "order":4,
      "width":"1",
      "height":"1",
      "passthru":false,
      "label":"확인",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"mail",
      "payloadType":"flow",
      "topic":"",
      "x":2881.4290466308594,
      "y":978.571307182312,
      "wires":[
         [
            "275df9b7.1c8456"
         ]
      ]
   },
   {
      "id":"1eeb5c0b.b83304",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"mail",
            "pt":"flow",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":2708.571487426758,
      "y":912.8572750091553,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"f667d2f9.088af",
      "type":"debug",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":3305.0001220703125,
      "y":1064.285713672638,
      "wires":[

      ]
   },
   {
      "id":"275df9b7.1c8456",
      "type":"exec",
      "z":"7998cc5a.3f1a14",
      "command":"/home/ems_license/license_gen/bin/print_license_mail.py",
      "addpay":false,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"",
      "x":2575.7139587402344,
      "y":1124.2857646942139,
      "wires":[
         [
            "7f61a19e.aa2bb"
         ],
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"7f61a19e.aa2bb",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"var body = msg.payload\nvar reciver = flow.get('mail')\nvar customer = flow.get('customer')\nmsg.attachments={ path: '/home/ems_license/license_gen/lic/license_mail.zip'}\nmsg.to = [ { \"address\": reciver, \"name\": reciver },{ \"address\": \"cs@nkia.co.kr\", \"name\": \"cs@nkia.co.kr\" }]\nmsg.from = [ { \"address\": \"cs@nkia.co.kr\", \"name\": \"cs@nkia.co.kr\" }]\nmsg.topic = \"[\"+customer+\"] 라이센스 전달\"\nmsg.body = body\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":2875.000160217285,
      "y":1208.5712871551514,
      "wires":[
         [
            "ab759bbd.fd9278"
         ]
      ]
   },
   {
      "id":"abffc42f.12fe88",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"customer",
            "pt":"flow",
            "to":"payload.customer",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":2465.7141036987305,
      "y":509.9999828338623,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"25d82795.7ec2d8",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"메일 전송 실패",
      "name":"",
      "x":3680.57177734375,
      "y":986.2857666015625,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"9837a2a.423e36",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"report",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":37,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"function/report",
      "x":767.1426658630371,
      "y":1572.8571090698242,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"a8510f00.d28ac",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"topology",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":38,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"function/topology",
      "x":761.4286346435547,
      "y":1665.7144079208374,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"79aaf3b1.7801bc",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"network_inspection",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":39,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"function/network_inspection",
      "x":775.7144966125488,
      "y":1528.5714626312256,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"111cade7.8bcde2",
      "type":"delay",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "pauseType":"delay",
      "timeout":"100",
      "timeoutUnits":"milliseconds",
      "rate":"1",
      "nbRateUnits":"1",
      "rateUnits":"second",
      "randomFirst":"1",
      "randomLast":"5",
      "randomUnits":"seconds",
      "drop":false,
      "x":414.2857360839844,
      "y":1140,
      "wires":[
         [
            "6549acb7.45b064"
         ]
      ]
   },
   {
      "id":"6549acb7.45b064",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 1\nreturn msg",
      "outputs":1,
      "x":413.92860984802246,
      "y":1229.142713546753,
      "wires":[
         [
            "9837a2a.423e36",
            "a8510f00.d28ac"
         ]
      ]
   },
   {
      "id":"9bfd32ed.1860e",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['function/report']\nreturn msg",
      "outputs":1,
      "x":832.857177734375,
      "y":3274.285888671875,
      "wires":[
         [
            "9837a2a.423e36"
         ]
      ]
   },
   {
      "id":"391da8f0.57f188",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['function/topology']\nreturn msg",
      "outputs":1,
      "x":835.7142944335938,
      "y":3332.857177734375,
      "wires":[
         [
            "a8510f00.d28ac"
         ]
      ]
   },
   {
      "id":"7be049b2.852548",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['function/network_inspection']\nreturn msg",
      "outputs":1,
      "x":834.2857055664062,
      "y":3392.857177734375,
      "wires":[
         [
            "79aaf3b1.7801bc"
         ]
      ]
   },
   {
      "id":"6eb6c2f5.1660dc",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"pluribus",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":35,
      "width":"2",
      "height":"1",
      "passthru":true,
      "mode":"number",
      "delay":300,
      "topic":"resource/flow.pluribus",
      "x":754.2856750488281,
      "y":1621.4286651611328,
      "wires":[
         [
            "afa45c84.4032d",
            "d18282e1.46106"
         ]
      ]
   },
   {
      "id":"ed1a316a.1fe4a",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['resource/flow.pluribus']\nreturn msg",
      "outputs":1,
      "x":840,
      "y":3447.142822265625,
      "wires":[
         [
            "6eb6c2f5.1660dc"
         ]
      ]
   },
   {
      "id":"d18282e1.46106",
      "type":"debug",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":1356.4285714285713,
      "y":1381.4285714285713,
      "wires":[

      ]
   },
   {
      "id":"82570df9.479bf",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = 0\nreturn msg",
      "outputs":1,
      "x":260.0000171661377,
      "y":520.0000162124634,
      "wires":[
         [
            "9837a2a.423e36",
            "a8510f00.d28ac"
         ]
      ]
   },
   {
      "id":"5128d717.e455a8",
      "type":"debug",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":462.5,
      "y":1358,
      "wires":[

      ]
   },
   {
      "id":"c56704f0.296cf8",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"발행인",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":6,
      "width":"0",
      "height":"0",
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"deploy_user",
      "x":725,
      "y":166.66665649414062,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"b83e54ea.e4ff88",
      "type":"ui_text_input",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "label":"요청인",
      "tooltip":"",
      "group":"9ecf2da1.e1e57",
      "order":7,
      "width":"0",
      "height":"0",
      "passthru":true,
      "mode":"text",
      "delay":300,
      "topic":"request_user",
      "x":726.6666259765625,
      "y":113.33332824707031,
      "wires":[
         [
            "afa45c84.4032d"
         ]
      ]
   },
   {
      "id":"93f97e9d.242b3",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['deploy_user']\nreturn msg",
      "outputs":1,
      "x":836.666618347168,
      "y":3504.9998960494995,
      "wires":[
         [
            "c56704f0.296cf8"
         ]
      ]
   },
   {
      "id":"ddaa9ee2.0b3b1",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = msg['payload']['request_user']\nreturn msg",
      "outputs":1,
      "x":838.333324432373,
      "y":3558.3331508636475,
      "wires":[
         [
            "b83e54ea.e4ff88"
         ]
      ]
   },
   {
      "id":"9aaa0122.b573e",
      "type":"python3-function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"msg['payload'] = '임시'\nreturn msg",
      "outputs":1,
      "x":386.6666564941406,
      "y":20,
      "wires":[
         [
            "b83e54ea.e4ff88",
            "c56704f0.296cf8"
         ]
      ]
   },
   {
      "id":"2447a6f9.a0a77a",
      "type":"exec",
      "z":"7998cc5a.3f1a14",
      "command":"/home/ems_license/license_gen/bin/print_license.py",
      "addpay":false,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"",
      "x":2777,
      "y":817,
      "wires":[
         [
            "751adaf7.656894",
            "f667d2f9.088af"
         ],
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"b7b5c22.14bf24",
      "type":"exec",
      "z":"7998cc5a.3f1a14",
      "command":"/home/ems_license/license_gen/bin/deploy_ekp.py",
      "addpay":true,
      "append":"",
      "useSpawn":"false",
      "timer":"",
      "oldrc":false,
      "name":"",
      "x":3256.250045776367,
      "y":463.7500057220459,
      "wires":[
         [
            "6c9fb64e.128128"
         ],
         [

         ],
         [

         ]
      ]
   },
   {
      "id":"92c26801.84ad18",
      "type":"ui_button",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "group":"fdac85d5.df68f8",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"게시판 등록",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"",
      "x":2842.500045776367,
      "y":373.7500057220459,
      "wires":[
         [
            "5cfc45b9.99455c"
         ]
      ]
   },
   {
      "id":"5cfc45b9.99455c",
      "type":"function",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "func":"var customer = flow.get('customer')\nmsg.payload = \"'\"+customer+\" 라이선스'\"\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "x":2935.000045776367,
      "y":463.75000762939453,
      "wires":[
         [
            "b7b5c22.14bf24"
         ]
      ]
   },
   {
      "id":"6c9fb64e.128128",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3315,
      "y":362.5,
      "wires":[
         [
            "29b3004a.f445d"
         ]
      ]
   },
   {
      "id":"29b3004a.f445d",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"등록완료",
      "name":"",
      "x":3507.5,
      "y":360,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"8e10947c.c23978",
      "type":"moment",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "topic":"",
      "input":"timestamp",
      "inputType":"msg",
      "inTz":"Asia/Seoul",
      "adjAmount":"9",
      "adjType":"hours",
      "adjDir":"subtract",
      "format":"x",
      "locale":"ko_KR",
      "output":"timestamp",
      "outputType":"msg",
      "outTz":"Asia/Seoul",
      "x":2564.0067443847656,
      "y":249.9739875793457,
      "wires":[
         [
            "d4eb6f8f.fd8f9"
         ]
      ]
   },
   {
      "id":"a87dd4b2.1dbd48",
      "type":"switch",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "property":"error",
      "propertyType":"msg",
      "rules":[
         {
            "t":"nnull"
         },
         {
            "t":"null"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":3327.5,
      "y":1143,
      "wires":[
         [
            "25b0403a.c94dc"
         ],
         [
            "9f3c5963.2ba768"
         ]
      ]
   },
   {
      "id":"f3f39024.70ff5",
      "type":"ui_toast",
      "z":"7998cc5a.3f1a14",
      "position":"dialog",
      "displayTime":"3",
      "highlight":"",
      "outputs":1,
      "ok":"확인",
      "cancel":"",
      "topic":"메일 전송 성공",
      "name":"",
      "x":3714,
      "y":1221,
      "wires":[
         [

         ]
      ]
   },
   {
      "id":"25b0403a.c94dc",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3497.5,
      "y":1072,
      "wires":[
         [
            "25d82795.7ec2d8"
         ]
      ]
   },
   {
      "id":"9f3c5963.2ba768",
      "type":"change",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":3496,
      "y":1169,
      "wires":[
         [
            "f3f39024.70ff5"
         ]
      ]
   },
   {
      "id":"6b8de566.d38adc",
      "type":"debug",
      "z":"7998cc5a.3f1a14",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "x":303.5,
      "y":1846,
      "wires":[

      ]
   },
   {
      "id":"9ecf2da1.e1e57",
      "type":"ui_group",
      "z":"",
      "name":"라이센스 생성",
      "tab":"2f218813.0b9bd8",
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"c90432e7.8a64",
      "type":"elasticsearch-config",
      "z":"",
      "name":"test",
      "server":"http://192.168.200.95:39200",
      "apiVersion":"6.6"
   },
   {
      "id":"fdac85d5.df68f8",
      "type":"ui_group",
      "z":"",
      "name":"라이센스 생성 확인",
      "tab":"2f218813.0b9bd8",
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"2f218813.0b9bd8",
      "type":"ui_tab",
      "z":"",
      "name":"라이센스 생성",
      "icon":"dashboard",
      "disabled":false,
      "hidden":false
   }
]
